<h1>About ReadMe</h1>

<p>ReadMe was a collaborative project created by a team of book enthusiasts and web developers enrolled in the Web Development Immersive program at Seattle's General Assembly campus. It is a full-stack web application that digitizes the experience of participating in book clubs. ReadMe was built on Ruby on Rails and incorporates the Google Books API.</p>

<h4>Meet the Team:</h3>
<h4>Ella Erickson</h4>
<h4>Rachel Hanna</h4>
<h4>Michael Hurley</h4>
<h4>Ethan Young</h4>