<h1>Home</h1>

<%= link_to "Login with Facebook", "/auth/facebook", class: "btn btn-primary" %>
<%= link_to "Logout", auth_logout_path, class: "btn btn-warning" %>
<div class="well">
  Current User:
  <%= @current_user.inspect %>
</div>
