
<div class="container password_reset">
	<h1>Reset Your Password</h1>

	<p>
	  Hi <%= @user.name %>! Click the link below to reset your password. 
	</p>
<%= link_to 'Click here to reset password', reset_code_url(@user.reset_code) %>
</div>

