<div class="container">
	<h1>Reset Your Password</h1>

	<p>
	  Hi <%= @user.name %>, you have requested to reset your password. Follow the link below. If you didn't request a password reset, someone's trying to get ito your account. Run!
	</p>
<%= link_to 'Click here to reset password', reset_code_url(@user.reset_code) %>
</div>
