<p class="lead">Are you sure you want to delete your ReadMe account? Please keep in mind that this action cannot be undone.</p>
<br>
<center><%= link_to 'Delete My Account', @user, method: :delete, class: "btn btn-danger" %></center>
