<h1>User Profile : <%= @user.name %></h1>

<p>Page will display:</p>

<ul>
<li>User's name</li>
<li>Profile pic</li>
<li>Books to Read</li>
<li>Books you've Read</li>
<li>Favorite Books</li>
<li>Clubs you're in</li>