<h1 class="profile-centered"><%= @user.name %></h1>
<p class="lead profile-centered"><%= @user.bio %></p>


<!--
Page will display user's
Name - DONE
Bio - DONE
Profile pic - via cloudinary
Books to Read
Books you've Read
Favorite Books
Clubs you're in
-->
