/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$jumbotron-padding:              20px !default;
$jumbotron-color:                salmon;
$jumbotron-bg:                   white;
$jumbotron-heading-color:        inherit !default;
$jumbotron-font-size:            32px;
$jumbotron-heading-font-size:    70px;

@import "bootstrap-sprockets";
@import "bootstrap";


.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
  margin-top: 50px;
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
  transform: translate3d(700px, 0, -800px) rotateY(30deg);
}



